*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.form-login{
    width: 400px;
    background: rgb(174, 1, 1);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px darkred;
}

.form-login h5{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.controls{
    width: 100%;
    border: 1px solid darkred;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: rgb(29, 29, 29);
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.bottons{
    width: 100%;
    height: 40px;
    background: darkred;
    border: none;
    color: white;
    margin-bottom: 16px;
}

.form-login p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.form-login a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form-login a:hover {
    text-decoration: underline;
}

.logo{
    width: 30px;
    margin-left: 20px;
    border-radius: 10px;
}

ul li{
    display: inline-block;
    padding: 0px 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: darkred;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

.bottons:hover{
    text-decoration: underline;
}